* {
    box-sizing: border-box;
}
/* Here are the root colors that I will be choosing for my project */
:root {
    --first: rgba(68,88,119,1);
    --second: rgba(146,204,206,1);
    --third: rgba(49,52,61,1);
    --fourth: rgba(28,29,33,1);
    --fifth: rgba(238,238,247,1);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--third);
    background-color: var(--fifth);
}

h1
h2 {
    margin: 0%;
}

p {
    margin: 0;
    font-size: 16px;
    color: var(--first);
}

header {
    background-color: var(--third);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
}

header h1 {
    font-size: 36px;
    padding: 5px 1% 5px 6%;
    color: var(--fourth);
    background-color: var(--second);
    font-weight: bold;
}

header nav li {
    list-style: none;
    display: inline-flex;
    font-size: 15px;
    padding: 5px;
    margin: 8px;
}

header nav li a {
    text-decoration: none;
    margin-right: 8px;
    border-bottom: 5px solid var(--second) ;
    color: var(--second);
    font-size: 26px;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--first);
}

.banner {
    background-image: url(./assets/pattern.png);
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 70px 95px 25px 0px;
}

.banner h2 {
    font-size: 30px;
    background-color: var(--second);
    display: inline-flex;
    padding: 2% 6%;
    justify-content: space-between;
}

.main-body {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-split {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-split > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 4vw;
    color: var(--first);
    border-right: 5px solid var(--first);
}

.page-split div {
    flex: 0 0 77%;
}

#about p {
    line-height: 1.5em;
    margin-bottom: 20px;
    margin-top: 60px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

.flex-item {
    border: 5px solid var(--second);
    color: var(--third);
    min-height: 250px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    margin: 0.5em;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-size: 150%;
}

.flex-item div {
    padding: 6px 8px;
    display: block;
}

.flex-item div h3 {
    color: var(--third);
    background-color: var(--second);
    padding: 20px;
    width: 139.97px;
}

.flex-item div span {
    color: var(--third);
    background-color: var(--second);
    padding: 20px;
}

#contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#contact address a {
    color: var(--first);
    text-decoration: none;
    font-style: normal;
    font-size: 32px;
    border-bottom: 5px solid var(--first);
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

#surf {
    background-image: url(./assets/surf.png);
}

#calculator {
    background-image: url(./assets/calculator.png);
}

#led {
    background-image: url(./assets/led.png);
}

#puzzle {
    background-image: url(./assets/puzzle.png);
}

#run {
    background-image: url(./assets/run.png);
    background-position-x: center;
}

@media screen and (max-width: 992px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }
    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }
    header nav {
        justify-content: center;
    }
    .pagesection > h2,
    .pagesection > div {
        flex: 0 0 100%;
    }
    .pagesection > h2 {
        border-right: none;
        border-bottom: 5px solid var(--second);
        text-align: left;
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%;
    }
    .flex-item:first-child {
        min-height: 150px;
    }
    .banner {
        justify-content: center;
    }
    #contact address {
        flex-direction: column;
        align-items: flex-start;
    }
}